$main-background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$color-white: #fff;
$color-black: #000;
$color-blue: #1042f2;
$color-violet: #3835b4;
$color-box-shadow: rgba(0,0,0,0.1);
$border-of-video: #d3dcfb;


$main-container-width: 90vw;
$main-container-margin: 0 auto;